# Python cache files
__pycache__/
*.pyc

# Environment variables
.env

# Database files
*.db

# Log files
logs/
*.log

# Ignore images if you don't want to track them (optional)
# images/

# Temporary files
*.tmp

# IDE specific files (if applicable)
.vscode/
.idea/
*.swp